#services {
    padding: 50px 20px;
    background-color: white;
    text-align: center;
  }
  
  h2 {
    font-size: 28px;
    color: #1a2332;
  }
  
  .service-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .service {
    width: 30%;
    background: #e58e26;
    padding: 20px;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
  }
  
  .service:hover {
    background: #d17b1e;
  }
  